//Coler Theme: https://color.adobe.com/Snow-White-color-theme-6622485/?showPublished=true
// modified white to 254, 244, 239

$black: rgb(23, 11, 0);
$red: rgb(255, 35, 47);
$white: rgb(254, 244, 239);
$yellow: rgb(232, 205, 2);
$blue: rgb(37, 89, 255);
